In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score

pd.options.display.max_rows = 100

In [3]:
sales = pd.read_csv('data/vgsales.csv')
sales.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [4]:
sales.shape

(16598, 11)

In [5]:
sales.isna().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [7]:
sales.isna().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [8]:
sales['Publisher'].value_counts().head(30)

Electronic Arts                           1351
Activision                                 975
Namco Bandai Games                         932
Ubisoft                                    921
Konami Digital Entertainment               832
THQ                                        715
Nintendo                                   703
Sony Computer Entertainment                683
Sega                                       639
Take-Two Interactive                       413
Capcom                                     381
Atari                                      363
Tecmo Koei                                 338
Square Enix                                233
Warner Bros. Interactive Entertainment     232
Disney Interactive Studios                 218
Unknown                                    203
Midway Games                               198
Eidos Interactive                          198
505 Games                                  192
Microsoft Game Studios                     189
D3Publisher                                184
Acclaim Entertainment                      184
Vivendi Games                              164
Codemasters                                152
Idea Factory                               129
Deep Silver                                122
Nippon Ichi Software                       105
Zoo Digital Publishing                     104
Majesco Entertainment                       92
Name: Publisher, dtype: int64

In [9]:
sales['Platform'].value_counts()

DS      2163
PS2     2161
PS3     1329
Wii     1325
X360    1265
PSP     1213
PS      1196
PC       960
XB       824
GBA      822
GC       556
3DS      509
PSV      413
PS4      336
N64      319
SNES     239
XOne     213
SAT      173
WiiU     143
2600     133
GB        98
NES       98
DC        52
GEN       27
NG        12
SCD        6
WS         6
3DO        3
TG16       2
PCFX       1
GG         1
Name: Platform, dtype: int64

In [23]:
def sales_preprocess(df):
    df = df.dropna()
    df.loc[df['Publisher'].value_counts()[df['Publisher']].values < 100, 'Publisher'] = "Other"
    df.loc[df['Platform'].value_counts()[df['Platform']].values < 80, 'Platform'] = "Other"
    df.drop(['Name', 'Rank'], inplace=True, axis=1)
    df = pd.get_dummies(df, columns=['Publisher', 'Platform'])
    return df
sales_cleaned = sales_preprocess(sales)

In [24]:
sales_cleaned.sample(10)

,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Publisher_505 Games,Publisher_Acclaim Entertainment,Publisher_Activision,...,Platform_PS4,Platform_PSP,Platform_PSV,Platform_SAT,Platform_SNES,Platform_Wii,Platform_WiiU,Platform_X360,Platform_XB,Platform_XOne
5846,2005.0,Platform,0.22,0.08,0.00,0.01,0.30,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6423,2009.0,Sports,0.25,0.00,0.00,0.02,0.27,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5897,2006.0,Action,0.20,0.03,0.05,0.02,0.30,0,0,0,...,0,0,0,0,0,0,0,1,0,0
14147,2007.0,Racing,0.00,0.00,0.03,0.00,0.03,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15038,2013.0,Adventure,0.00,0.00,0.02,0.00,0.02,0,0,0,...,0,0,0,0,0,0,0,1,0,0
440,2007.0,Sports,0.68,0.00,0.00,2.46,3.14,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2601,1994.0,Racing,0.00,0.00,0.74,0.05,0.79,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6094,2007.0,Puzzle,0.26,0.00,0.00,0.02,0.29,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13375,2012.0,Adventure,0.00,0.00,0.05,0.00,0.05,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3617,2010.0,Sports,0.24,0.26,0.00,0.06,0.56,0,0,0,...,0,0,0,0,0,1,0,0,0,0